*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    line-height: 1.5em;
    color: var(--txt-principal);
}

/* BARRAS DE ROLAGEM */
*::-webkit-scrollbar{
    width: .8rem;
}

*::-webkit-scrollbar-track{
    background-color: var(--cor-secundaria);
}

*::-webkit-scrollbar-thumb{
    background-color: var(--detalhes);
}

*::-webkit-scrollbar-thumb:hover{
    background-color: var(--detalhes-destaque);
}

body{
    background-color: var(--cor-principal);
    display: flex;
    height: 100dvh;
}

main{
    width: 80dvw;
    height: 100dvh;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Menu: Lateral */
aside{
    width: 20dvw;
    height: 100dvh;
    padding: 0 1rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-secundaria);
}

.foto-perfil{
    width: 80%;
    margin-bottom: 1rem;
    aspect-ratio: 1 / 1;
    border: .5rem solid var(--detalhes);
    border-image: linear-gradient(135deg, var(--detalhes), var(--detalhes-destaque), var(--btn-positivo)) 1;
    border-radius: .25rem;
}

#areas-perfil{
    width: 100%;
    overflow-wrap: break-word;
}

.area-perfil{
    display: block;
    margin: .5rem 0;
    text-align: center;
    font-size: 2.5rem;
    border: .25rem solid var(--cor-secundaria);
    border-radius: .25rem;
}

.area-perfil:hover{
    border-color: var(--detalhes);
}

.area-ativa{
    border-color: var(--detalhes-destaque);
}

/* Menu: Topo */
nav{
    position: relative;
    width: 100dvw;
    height: 10dvh;
    padding: 0 1rem;
    font-size: 2rem;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-secundaria);
    display: none;
}

#btn-hamburguer{
    height: 80%;
    aspect-ratio: 1 / 1;
    font-size: 3rem;
    padding: .5rem;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#itens-menu{
    display: none;
    flex-direction: row;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--cor-secundaria);
}

/* Conteúdo */
#container-conteudo{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 2rem;
    font-size: 2rem;
    overflow-y: auto;
}

.centralizar-itens{
    align-items: center;
    justify-content: center;
}

.centralizar-itens-v{
    align-items: center;
}

.centralizar-itens-h{
    justify-content: center;
}

/* Responsividade */
@media (max-width: 1600px){
    #container-conteudo{
        height: auto;
    }
}

@media (max-width: 1200px){
    body{
        flex-direction: column;
    }
    
    nav{
        display: flex;
    }

    .foto-perfil{
        height: 80%;
        width: auto;
        margin: 0;
        border-width: .25rem;
    }

    main{
        width: 100dvw;
        height: 90dvh;
    }
    
    aside{
        display: none;
    }
}